<div class="wrap">
	<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
		<div class="container">
			{{link-to 'KTS Landing Page' 'index' class='navbar-brand'}}

			<ul class="nav navbar-nav">
				{{#link-to "index" tagName="li"}}
					{{#link-to "index"}}
						<i class="fa fa-home"></i> <span>Home</span>
					{{/link-to}}
				{{/link-to}}
				{{#link-to 'guilds' tagName="li"}}
					{{#link-to 'guilds'}}
						<i class="glyphicon glyphicon-tower"></i> <span>Guilds</span>
					{{/link-to}}
				{{/link-to}}
				{{#link-to "about" tagName="li"}}
					{{#link-to "about"}}
						<i class="fa fa-info-circle"></i> <span>About</span>
					{{/link-to}}
				{{/link-to}}
			</ul>

			<ul class="nav navbar-nav navbar-right">
				{{#if session.isAuthenticated}}
				<li class="dropdown">
					<a href class="dropdown-toggle" data-toggle="dropdown">
						Testis{{ username }}
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#/profile">Profile</a></li>
						<li class="divider"></li>
						<li><a {{ action 'invalidateSession' }}>Log Out</a></li>
					</ul>
				</li>
				{{else}}
				<button {{ action 'authenticateSession' }} class="btn btn-danger navbar-btn">
					Login
				</button>
				{{/if}}
			</ul>
		</div>
	</nav>

	<div class="content">
		<div class="container">
			{{outlet}}
		</div>
	</div>

	<div class="footer">
		<div class="container">
			<div class="footer-logo">
				<span>
					{{#link-to "index"}}
						KTS Landing Page
					{{/link-to}}
				</span>
			</div>
			<dl class="footer-nav">
				<dt class="nav-title">Happy Birthday</dt>
				<dd class="nav-item">
					{{#link-to "index"}}
						ByeBye
					{{/link-to}}
				</dd>
			</dl>
			<dl class="footer-nav">

			</dl>
			<dl class="footer-nav">

			</dl>
		</div>
		<div class="footer-copyright text-center">Made with <span><i class="fa fa-heart"></i></span> by Workshop Guild</div>
	</div>
</div>